android_input/
android_input_analyzed/
android_output/
android_output_analyzed/
ios_input/
ios_input_analyzed/
ios_output/
ios_output_analyzed/
check-rules/
AndroidManifext.xml
strings.xml
__pycache__
results.txt
apksList.txt
developersUrlsProfile.txt
storeUrls.txt
android_application_package_name_list.txt