__pycache__
android_input/
android_input_analyzed/
android_output/
android_output_analyzed/
ios_input/
ios_input_analyzed/
ios_output/
ios_output_analyzed/
android_application_package_name_list.txt
android_store_urls_list.txt
_MobileBountyHunterReport.txt