<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="pl.mbank.mjunior" platformBuildVersionCode="31" platformBuildVersionName="12">
    <permission android:name="pl.mbank.mjunior.sharedpreferences.provider.USE" android:protectionLevel="signature"/>
    <uses-permission android:name="pl.mbank.mjunior.sharedpreferences.provider.USE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.HOME"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <permission android:name="pl.mbank.mjunior.permission.PROCESS_PUSH_MSG" android:protectionLevel="signature"/>
    <permission android:name="pl.mbank.mjunior.permission.PUSH_PROVIDER" android:protectionLevel="signature"/>
    <permission android:name="pl.mbank.mjunior.permission.PUSH_WRITE_PROVIDER" android:protectionLevel="signature"/>
    <uses-permission android:name="pl.mbank.mjunior.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="pl.mbank.mjunior.permission.PUSH_PROVIDER"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="@xml/synerise_backup_rules" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:logo="@drawable/logo" android:name="pl.mbank.mjuniorapp.app.NmBApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/JuniorThemeMain">
        <activity android:configChanges="locale|orientation|screenSize" allowBackup="true" android:exported="true" android:name="pl.mbank.core.activity.StartActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|screenSize" debuggable="true" android:name="pl.mbank.mjuniorapp.app.activity.NotAuthenticatedMainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.mjuniorapp.app.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.mjuniorapp.feature.errorstrategy.view.JuniorErrorActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.mjuniorapp.app.activity.PinForgetActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:excludeFromRecents="true" android:name="pl.mbank.core.activity.LogoutActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <service android:exported="true" android:name="pl.mbank.core.authenticator.NmbAuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <provider android:authorities="@string/preferences_authority" android:enabled="true" android:exported="true" android:grantUriPermissions="false" android:label="NmbSharedPreferencesContentProvider" android:name="pl.mbank.feature.contentproviders.SharedPreferencesContentProvider" android:permission="pl.mbank.mjunior.sharedpreferences.provider.USE"/>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:permission="pl.mbank.mjunior.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushReceiver" android:permission="pl.mbank.mjunior.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="pl.mbank.feature.securitycheck.accessibility.AccessibilityBackgroundService"/>
        <service android:exported="false" android:name="pl.mbank.feature.securitycheck.dangerousapps.blacklist.SecurityBackgroundService"/>
        <service android:name="pl.mbank.feature.securitycheck.sessionclosing.SessionClosingService" android:stopWithTask="false"/>
        <activity android:name="pl.mbank.feature.security.settings.view.SecuritySettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="pl.mbank.feature.security.attachments.view.AttachmentsActivity" android:screenOrientation="portrait"/>
        <activity android:name="pl.mbank.feature.security.screenshotprotection.ScreenshotProtectionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="pl.mbank.feature.security.checker.view.SecurityCheckerActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="pl.mbank.security.UPDATE_ACTION"/>
            </intent-filter>
            <intent-filter>
                <action android:name="pl.mbank.security.GP_PROTECTION_ACTION"/>
            </intent-filter>
            <intent-filter>
                <action android:name="pl.mbank.security.CYBER_RESCUE"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="@string/uri_data_host" android:path="/settings/securityChecker" android:scheme="@string/uri_data_scheme"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.core.login.TransparentLoginActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.pin.ChangePinActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.waitingroom.activity.WaitingRoomActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.welcome.view.JuniorWelcomeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.welcome.view.JuniorPairingPrepareActivity" android:parentActivityName="pl.mbank.feature.welcome.view.JuniorWelcomeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.pairing.view.JuniorPairingActivity" android:parentActivityName="pl.mbank.feature.welcome.view.JuniorPairingPrepareActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.game.view.JuniorGameActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:exported="false" android:name="pl.mbank.feature.biometric.view.BiometricSettingsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="@string/uri_data_host" android:path="/settings/biometric" android:scheme="@string/uri_data_scheme"/>
            </intent-filter>
        </activity>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:exported="false" android:name="pl.mbank.appconfig.uwapps.view.UwAppsLegacyDeeplinkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="@string/uwapps_legacy_uri_host" android:pathPrefix="@string/uwapps_legacy_uri_path_prefix_for_manifest" android:scheme="@string/uwapps_legacy_uri_scheme"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="pl.mbank.feature.scapairing.model.websocket.ScaWebSocketService"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.scapairing.view.PairingPermissionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.scapairing.view.ScaPairingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.welcome.view.WelcomeActivity"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.feature.demo.DemoActivity"/>
        <service android:exported="false" android:name="pl.mbank.core.analytics.service.AnalyticsService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="pl.mbank.core.sync.SynchService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:configChanges="locale|orientation|screenSize" android:name="pl.mbank.core.legacy.legacyui.activity.PastOperationsFilterActivity" android:screenOrientation="portrait"/>
        <activity android:excludeFromRecents="true" android:name="pl.mbank.core.legacy.missingpermissions.activity.MissingPermissionActivity" android:noHistory="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize" android:excludeFromRecents="true" android:name="pl.mbank.core.legacy.missingpermissions.activity.TransparentMissingPermissionActivity" android:noHistory="false" android:screenOrientation="portrait" android:theme="@style/AppTheme.Transparent"/>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true"/>
        <activity android:name="com.synerise.sdk.injector.ui.walkthrough.WalkthroughActivity" android:theme="@style/SyneriseSDKAppTheme"/>
        <activity android:name="com.synerise.sdk.injector.ui.push.BannerActivity" android:theme="@style/SyneriseSDKAppTheme"/>
        <service android:exported="false" android:name="com.synerise.sdk.event.EventService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.synerise.sdk.injector.receiver.NotificationDismissReceiver"/>
        <receiver android:exported="false" android:name="com.synerise.sdk.injector.receiver.NotificationClickReceiver"/>
        <receiver android:exported="false" android:name="com.synerise.sdk.injector.receiver.ActionButtonClickReceiver"/>
        <receiver android:exported="false" android:name="com.synerise.sdk.core.types.receiver.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="pl.mbank.mjunior.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="pl.mbank.mjunior.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.huawei.agconnect.core.ServiceDiscovery">
            <meta-data android:name="com.huawei.agconnect.remoteconfig.ConfigRegistrar" android:value="com.huawei.agconnect.core.ServiceRegistrar"/>
            <meta-data android:name="com.huawei.agconnect.abtest.ABTestRegistrar" android:value="com.huawei.agconnect.core.ServiceRegistrar"/>
            <meta-data android:name="com.huawei.agconnect.credential.CredentialServiceRegistrar:100" android:value="com.huawei.agconnect.core.ServiceRegistrar"/>
        </service>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService">
            <meta-data android:name="com.google.android.play.core.assetpacks.versionCode" android:value="11003"/>
        </service>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"/>
        <service android:directBootAware="true" android:enabled="true" android:exported="true" android:name="com.huawei.hms.support.api.push.service.HmsMsgService" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider android:authorities="pl.mbank.mjunior.huawei.push.provider" android:exported="true" android:name="com.huawei.hms.support.api.push.PushProvider" android:readPermission="pl.mbank.mjunior.permission.PUSH_PROVIDER" android:writePermission="pl.mbank.mjunior.permission.PUSH_WRITE_PROVIDER"/>
        <meta-data android:name="com.huawei.hms.client.service.name:push" android:value="push:6.3.0.304"/>
        <meta-data android:name="com.huawei.hms.min_api_level:push:push" android:value="1"/>
        <activity android:exported="false" android:name="com.huawei.hms.support.api.push.TransActivity"/>
        <provider android:authorities="pl.mbank.mjunior.aaidinitprovider" android:exported="false" android:initOrder="500" android:name="com.huawei.hms.aaid.InitProvider"/>
        <meta-data android:name="com.huawei.hms.client.service.name:opendevice" android:value="opendevice:6.3.0.304"/>
        <meta-data android:name="com.huawei.hms.min_api_level:opendevice:push" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.service.name:base" android:value="base:6.4.0.302"/>
        <meta-data android:name="com.huawei.hms.min_api_level:base:hmscore" android:value="1"/>
        <meta-data android:name="availableLoaded" android:value="yes"/>
        <provider android:authorities="pl.mbank.mjunior.AGCInitializeProvider" android:exported="false" android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"/>
        <activity android:configChanges="fontScale|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:name="com.huawei.hms.activity.BridgeActivity" android:screenOrientation="behind" android:theme="@style/Base_Translucent">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.huawei.hms.activity.EnableServiceActivity"/>
    </application>
</manifest>
